header {
  width: 75%;
  margin: auto;
}

img {
  width:50%;
  height: auto;
}

h1:hover {
  text-decoration-color: red;
}

a:visited {
  text-decoration: none;
}

article {
  width:50%;
  margin:auto;
}

footer {
  border:10px dashed red;
  border-radius: 50px
}